@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');

* {
    margin: 0; 
    padding: 0;
    /* nenhuma margem e padding*/
    font-family: 'Open Sans', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.clock {
    display: flex; /*elementos lado a lado*/
    align-items: center; /*centralizar elementos */
    justify-content: space-around;
    height: 400px;
    width: 1200px;
    background: transparent;
    border-radius: 3px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, .5);
}

.clock div {
    height: 300px;
    width: 270px;
    display: flex;
    flex-direction: column; /* elementos posiçao - coluna*/
    align-items: center;
    justify-content: center;
    color: #fff;
    background: rgba(5, 5, 5, .9);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .7);
    border-radius: 7px;
    letter-spacing: 6px;
}

.clock span {
    font-weight: bolder;
    font-size: 80px;
}

.clock span.time {
    font-size: 20px;
}

#months, #day, #year {
    font-size: 42px;
    flex-direction: row-reverse;
}