@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(20, 20, 20);
    /* background: radial-gradient(circle, rgb(233, 174, 238) 0%, rgba(148, 187, 233, 1) 100%); */
}

.clock {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 400px;
    width: 1200px;
    background: transparent;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
}

/* alternar as cores da borda do relegio */
@keyframes colorCycle {
    0% { box-shadow: 0 0 15px red; }
    14% { box-shadow: 0 0 15px orange; }
    28% { box-shadow: 0 0 15px yellow; }
    42% { box-shadow: 0 0 15px green; }
    57% { box-shadow: 0 0 15px blue; }
    71% { box-shadow: 0 0 15px indigo; }
    85% { box-shadow: 0 0 15px violet; }
    100% { box-shadow: 0 0 15px red; }
}

.clock div {
    height: 300px;
    width: 270px;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    color: #fff;
    background: rgba(5, 5, 5, .9);
    animation: colorCycle 8s infinite;
    border-radius: 9px;
    letter-spacing: 6px;
}

.clock span {
    font-weight: bolder;
    font-size: 80px;
}

.clock span.time {
    font-size: 20px;
}

#months,
#day,
#year {
    font-size: 42px;
    flex-direction: row-reverse;
}